<div class="well">
    <div class="row">
<div class="col-lg-12">
    <ul class="list-unstyled">
        <li >Nos produits :</li>
        {{ render(controller('EcommerceBundle:Categories:menu')) }}
    </ul>
</div>
</div></div>