<div class="well">
    <div class="row">
<div class="col-lg-12">

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('security_login') }}">Se connecter</a>
        </li>
        <li>
            <a href="{{  path('register') }}">S'inscrire</a>
        </li>
    </ul>
</div>

</div></div>